<launch>
  <!-- Navigation Stack -->
  <include file="$(find pr2_2dnav_local)/pr2_2dnav.launch" />

  <!-- Checkerboard Detector -->
  <node pkg="approach_table_tools" type="cb_detector.py" name="cb_detector" output="screen">
    <remap from="image_stream" to="/wide_stereo/left/image_rect" /> 
    <remap from="camera_info" to="/wide_stereo/left/camera_info" /> 
    <remap from="get_checkerboard_pose" to="get_checkerboard_pose" /> 
    <param name="corners_x" value="5"/>
    <param name="corners_y" value="4"/>
    <param name="spacing_x" value="0.08"/>
    <param name="spacing_y" value="0.08"/>
    <param name="publish_period" value="0.3"/>
  </node>

  <!-- Approach Pose Finder -->
  <node pkg="approach_table_tools" type="approach_pose_finder.py" name="approach_pose_finder" output="screen"/>

  <!-- Arm Tucker -->
  <node pkg="pr2_tuck_arms_action" type="tuck_arms.py" name="tuck_arms" output="screen"/>
</launch>
