<launch>	
  <node pkg="player_log_actarray" type="start-player-server.sh" name="start-player-server.sh" output="screen" args="$(find player_log_actarray)/demo/player-demo.cfg" />
  <node pkg="player_log_actarray" type="sweep_laser_scan_cli_client" name="amtec_sweep_service_server" output="screen" respawn="true">
	<param name="~start_angle" type="double" value="-85.0"/>
        <param name="~end_angle" type="double" value="-105.0"/>
	<param name="~interface" type="int" value="1"/>		
	<param name="~is_david_" type="int" value="0"/>		
	<param name="~is_lms400_" type="int" value="1"/>			
	<param name="~rot_joint" type="int" value="4"/>			
	<param name="~rot_speed" type="double" value="0.05"/>		
 </node>	
</launch>
