<launch>
  <node pkg="player_log_actarray" type="pointcloud_merger" name="pointcloud_merger" output="screen" >
    <param name="~dir" value="" />
    <param name="~axis_x" value="0.0" />
    <param name="~axis_y" value="1.0" />
    <param name="~axis_z" value="0.0" />
    <param name="~tx" value="-1.5980" />
    <param name="~ty" value="0.2400" />
    <param name="~tz" value="-0.0070" />
  </node>

</launch>
