
body, textarea {
	font-family: "DejaVu Sans", sans-serif;
	font-size: 20pt;
	color:#555555;
	font-style:italic;
	background: #000;
}

textarea  {
	background: none;
	border: none;
	width: 100%;
	overflow: hidden;
}

#discussion {
	width: 50%;
	margin:auto;
	padding-bottom: 150px;

}

#debug {
	background-color: #CCC;
	padding: 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	right:0;
	height: 60px;
	margin:auto;
	overflow:auto;
	font-size: 10pt;
	color:#555555;
	font-family: fixed;
	font-style:normal;

}

.debug_entry {
	margin: 0px;
}

.bulle {
	margin: 20px 20px 20px 0px;
	border-width: 30 25 41 55;
	-moz-border-image: url(images/bulle.png) 30 25 41 55 stretch stretch;
	-webkit-border-image: url(images/bulle.png) 30 25 41 55 stretch stretch;
}

.bulle2 {
	position: relative;
	margin: 20px 0px 20px 20px;
	border-width: 30 55 41 25;
	-moz-border-image: url(images/bulle2.png) 30 55 41 25 stretch stretch;
	-webkit-border-image: url(images/bulle2.png) 30 55 41 25 stretch stretch;
}

.robot {
	position:absolute;
	bottom: -100px;
	right: -150px;
}
