<launch>

  <!-- load perception -->
  <include file="$(find pr2_arm_navigation_perception)/launch/laser-perception.launch"/>
  
  <!-- load planning -->
  <include file="$(find pr2_arm_navigation_planning)/launch/ompl_planning.launch"/>

  <!-- load controllers -->	
  <include file="$(find pr2_arm_navigation_filtering)/launch/trajectory_filter.launch"/>

  <!-- load table objects -->
  <include file="$(find table_objects)/launch/fixed_get_table_objects.launch"/>

  <!-- right arm -->

  <!-- load move_arm -->
  <include file="$(find pr2_arm_navigation_actions)/launch/move_right_arm.launch"/>

  <!-- load planning_environment -->
  <include file="$(find pr2_arm_navigation_actions)/launch/environment_server_right_arm.launch"/>

  <!-- load ik -->
  <include file="$(find pr2_arm_navigation_kinematics)/launch/right_arm_collision_free_ik.launch"/>

  <node name="interpolated_ik_node_right" pkg="interpolated_ik_motion_planner" 
    type="interpolated_ik_motion_planner.py" args="r" respawn="false"/>	



  <!-- left arm -->

  <!-- load move_arm -->
  <include file="$(find pr2_arm_navigation_actions)/launch/move_left_arm.launch"/>

  <!-- load planning_environment -->
  <include file="$(find pr2_arm_navigation_actions)/launch/environment_server_left_arm.launch"/>

  <node name="interpolated_ik_node_left" pkg="interpolated_ik_motion_planner" 
    type="interpolated_ik_motion_planner.py" args="l" respawn="false"/>

  <!-- load ik -->
  <include file="$(find pr2_arm_navigation_kinematics)/launch/left_arm_collision_free_ik.launch"/>

  <include file="$(find cotesys_ros_grasping)/launch/pr2_grasping_actions.launch"/>

</launch>
