<launch>
  <node pkg="map_server" type="map_server" name="map_server" args="$(find ias_gazebo)/localization/maps/gazebo_kitchen_5cm.yaml" respawn="false" output="screen"/>
  
  <node name="fake_localization" pkg="fake_localization" type="fake_localization">
    <param name="delta_x" value="27.1"/>
    <param name="delta_y" value="28.1"/>
    <param name="odom_frame_id" value="odom_combined"/>    
  </node>
</launch>
