<launch>

 <!-- load perception -->
 <!--include file="$(find rosie_arm_navigation_launch)/launch/perception.launch"/-->

 <!-- load planning -->	
 <include file="$(find rosie_arm_navigation_launch)/launch/ompl_planning.launch"/>

 <!-- load move_arm -->
 <include file="$(find rosie_arm_navigation_launch)/launch/move_right_arm.launch"/>
 <!--include file="$(find rosie_arm_navigation_launch)/launch/move_left_arm.launch"/-->

 <!-- load planning_environment -->
 <include file="$(find rosie_arm_navigation_launch)/launch/environment_server_right_arm.launch"/>
 <include file="$(find planning_environment)/launch/display_planner_collision_model.launch" />

 <!-- load controllers -->
 <include file="$(find rosie_arm_navigation_launch)/launch/trajectory_filter.launch"/>

 <!-- load ik -->
 <include file="$(find rosie_arm_kinematics)/rosie_right_arm_kinematics.launch"/>
 
 <node pkg="rosie_arm_navigation_launch" type="joint_state_accumulator" name="joint_state_accumulator"/>

</launch>
