<launch>
   <node pkg="robot_self_filter" type="self_filter" name="rosie_arm_navigation_base_self_filter" output="screen">

     <remap from="robot_description" to="robot_description" />
     
     <!-- The topic for the input cloud -->
     <remap from="cloud_in" to="base_laser_cloud" />
     
     <!-- The topic for the output cloud -->
     <remap from="cloud_out" to="base_laser_cloud_filtered" />

     <!-- The frame of the sensor used to obtain the data to be
       filtered; This parameter is optional. If it is not specified,
       shadow points will be considered outside -->
     <param name="sensor_frame" type="string" value="laser_front_left" />

     <param name="subsample_value" type="double" value=".01"/>

     <rosparam command="load" file="$(find rosie_arm_navigation_launch)/config/self_filter.yaml" />

   </node>
</launch>
