<launch>                                      
  <node pkg="image_algos" type="openCv_to_ros" name="openCv_to_ros" args="$(find test_client)/test_resource/IceTea-1.jpg 30" output="screen"> 
    <param name="compressed_image_transport_format" value="jpeg"/>
    <param name="compressed_image_transport_jpeg_quality" value="90"/>
    <!--     <param name="compressed_image_transport_png_level" value="9"/> -->
  </node>                                                                                                                                                    
<!--Call it from command line:
    ./image_view  image:=/image_topic_2 _image_transport:=compressed
-->
  <node pkg="image_view" type="image_view" name="image_view"  output="screen">
    <remap from="image" to="image_topic_2" />
<!--     <remap from="_image_transport" to="compressed" /> -->
  </node>
</launch>
