<launch>
  <node pkg="image_algos" type="pointcloud_to_image_projector_opencv_node" name="pointcloud_to_image_projector_opencv_node" output="screen" respawn="true" >
    <param name="input_image_topic" value="/camera/rgb/image_mono" />
    <param name="input_cloud_topic" value="/extract_clusters/cloud_objects" />
    <param name="output_image_topic" value="image_with_projected_cluster" />
    <param name="output_cluster_topic" value="output_cluster" />
  </node>
<!--   launch-prefix="xterm -e gdb -args" -->
</launch>
