<launch>
  <node name="checkerboard_pose_server" pkg="checkerboard_pose" type="cb_detector.py" output="screen">
    <remap from="image_stream" to="/narrow_stereo/right/image_rect"/>
    <remap from="camera_info" to="/narrow_stereo/right/camera_info"/>
    <param name="corners_x" value="5"/>
    <param name="corners_y" value="4"/>
    <param name="spacing_x" value="0.022"/>
    <param name="spacing_y" value="0.022"/>
    <param name="publish_period" value="0.5"/>
  </node>
  <include file="$(find pr2_teleop)/teleop_joystick.launch"/>
</launch>
