<launch>
  <node pkg="checkerboard_pose" type="cb_detector.py" name="axis_cb_detector">
    <remap from="image_stream" to="axis_camera/decompressed" />
    <remap from="camera_info" to="axis_camera/camera_info" />
    <remap from="get_checkerboard_pose" to="axis_get_checkerboard_pose" />
    <param name="publish_period" value="0.0" />
    <param name="corners_x" value="5" />
    <param name="corners_y" value="4" />
    <param name="spacing_x" value="0.04" />
    <param name="spacing_y" value="0.04" />
    <param name="width_scaling" value="1" />
    <param name="height_scaling" value="1" />
  </node>
</launch>
