<launch>

  <param name="/use_sim_time" value="false" />
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find inf9_robot_defs)/robots/kimp_tilting_laser.urdf.xml'"/>  

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen">
    <param name="joint_state_topic" value="/pantilt" />
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
    <param name="robot_desc_param" type="string" value="robot_description"/>
  </node>

</launch>
