<launch>

  <!-- hokuyo shoulder scanner -->
  <node pkg="hokuyo_node" type="hokuyo_node" output="screen" name="neck_laser_scanner">
    <param name="port" type="str" value="/dev/sensors/hokuyo_H0803340" />
    <param name="allow_unsafe_settings" type="bool" value="true"/>
    <param name="intensity" type="bool" value="true"/>
    <remap from="scan" to="neck_laser"/>
    <param name="min_ang" type="double" value="-1.3" />
    <param name="max_ang" type="double" value="1.3" />
    <param name="skip" type="int" value="0"/>
    <param name="frame_id" type="string" value="/shoulder_tilting_laser_sensor"/>
  </node>

  <!-- convert tilt laser scan to pointcloud -->
  <node pkg="laser_filters" type="scan_to_cloud_filter_chain" output="screen" name="neck_cloud_shadow_filter">
    <remap from="scan" to="neck_laser"/>
    <remap from="cloud_filtered" to="neck_cloud_shadow_filtered"/>
    <param name="target_frame" type="string" value="/base_link"/>
    <rosparam>
      scan_filter_chain:
      - name: shadows
        type: laser_filters/ScanShadowsFilter
        params:
          min_angle: 10
          max_angle: 170
          neighbors: 5
          window: 1
      - name: dark_shadows
        type: laser_filters/LaserScanIntensityFilter
        params:
          lower_threshold: 100
          upper_threshold: 10000
          disp_histogram: 0
    </rosparam>
  </node>

  <!-- laser self filter -->
	<node pkg="pr2_navigation_self_filter" type="self_filter" output="screen" name="neck_cloud_self_filter">
	<remap from="cloud_in" to="neck_cloud_shadow_filtered" />
	<remap from="cloud_out" to="neck_cloud_shadow_self_filtered" />
	<!-- The frame of the sensor used to obtain the data to be filtered; This parameter is optional. If it is not specified, shadow points will be considered outside -->
	<param name="sensor_frame" type="string" value="/shoulder_tilting_laser_sensor" />
	<rosparam command="load" file="$(find rosie_bringup)/config/self_filter.yaml" />
  </node>

  <!-- laser assembler -->
  <node pkg="laser_assembler" type="point_cloud_assembler" output="screen" name="neck_cloud_assembler">
    <remap from="cloud" to="neck_cloud_shadow_self_filtered"/>
    <param name="tf_tolerance_secs" type="double" value="0.25" />
    <param name="tf_cache_time_secs" type="double" value="15.0" />
    <param name="max_clouds" type="int" value="600" />
    <param name="ignore_laser_skew" type="bool" value="true" />
    <param name="fixed_frame" type="string" value="/map" />
  </node>

  <!-- laser snapshotter -->
  <node pkg="pr2_laser_snapshotter" type="pr2_laser_snapshotter" output="screen" name="neck_cloud_snapshotter">
    <remap from="laser_scanner_signal" to="shoulder_scanner_signal"/>
    <remap from="build_cloud" to="build_cloud" />
    <remap from="full_cloud" to="/neck_cloud_finished" />
  </node>

</launch>

