<launch>

  <!-- start gazebo with an empty plane -->
  <param name="/use_sim_time" value="true" />

  <node name="gazebo" pkg="gazebo" type="gazebo" args="$(find ias_gazebo)/worlds/ros_fallschool.world" respawn="false" />

  <!-- start pr2 robot -->
  <include file="$(find ias_gazebo)/robots/pr2.launch"/>


</launch>
