<launch>
  <include file="$(find kbquery)/kbquery_ias_semantic_map.launch"/>
  <node name="semantic_map_rviz_display" pkg="semantic_map_rviz_display" type="semantic_map_rviz_display"/>
  <node name="semantic_map_tf_origin" pkg="tf" type="static_transform_publisher"
        args="-1.4 -2.4 -0.225 0 0 0 1 /map /semantic_map 1000"/>
</launch>
