<launch>
  <node pkg="swissranger_camera" type="swissranger_camera" name="swissranger_test" output="log" respawn="false"  machine="amy">
    <param name="~sr_dump_to_disk" value="false" />
    <param name="frame_id" value="/sr4" />	
    <param name="use_filter" value="false" />
    <param name="auto_exposure" value="0" />
    <param name="integration_time" value="50" />
    <remap from="~pointcloud_raw" to="~cloud_sr"/>
  </node>
</launch>
