<launch>
	<node  pkg="objects_of_daily_use_finder" type="odu_finder_node" name="odu_finder" output="screen">
		<param  name="command" type="string" value="/init" />
		<param  name="database_location" type="string" value="/u/pangerci/semantic3ddb/data/" />
		<param  name="images_folder" type="string" value="/u/pangerci//semantic3ddb/images/" />

		<param  name="tree_k" type="int" value="5" /> 
		<param  name="tree_levels" type="int" value="5" /> 
	</node>
</launch>
